@charset "UTF-8";
/*! sanitize.css v4.1.0 | CC0 License | github.com/jonathantneal/sanitize.css */
/* Display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Elements of HTML (https://www.w3.org/TR/html5/semantics.html)
   ========================================================================== */
/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritence in all browsers (opinionated).
 */
*,
::before,
::after {
  background-repeat: no-repeat;
  /* 1 */
  box-sizing: inherit;
  /* 2 */ }

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */ }

/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Add a flattened line height in all browsers (opinionated).
 * 4. Prevent font size adjustments after orientation changes in IE and iOS.
 */
html {
  box-sizing: border-box;
  /* 1 */
  cursor: default;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  line-height: 1.5;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 5 */ }

/* Sections (https://www.w3.org/TR/html5/sections.html)
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Correct the font sizes and margins on `h1` elements within
 * `section` and `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: .67em 0; }

/* Grouping content (https://www.w3.org/TR/html5/grouping-content.html)
   ========================================================================== */
/**
 * 1. Correct font sizing inheritance and scaling in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * 1. Correct the height in Firefox.
 * 2. Add visible overflow in Edge and IE.
 */
hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Add a bordered underline effect in all browsers.
 * 2. Remove text decoration in Firefox 40+.
 */
abbr[title] {
  border-bottom: 1px dotted;
  /* 1 */
  text-decoration: none;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct colors in IE 9-.
 */
mark {
  background-color: #ffff00;
  color: #000000; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Correct the font size in all browsers.
 */
small {
  font-size: 83.3333%; }

/**
 * Change the positioning on superscript and subscript elements
 * in all browsers (opinionated).
 * 1. Correct the font size in all browsers.
 */
sub,
sup {
  font-size: 83.3333%;
  /* 1 */
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */
::-moz-selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none; }

/* Embedded content (https://www.w3.org/TR/html5/embedded-content-0.html)
   ========================================================================== */
/*
 * Change the alignment on media elements in all browers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg {
  fill: currentColor; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Links (https://www.w3.org/TR/html5/links.html#links)
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove the gaps in underlines in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline when hovering in all browsers (opinionated).
 */
a:hover {
  outline-width: 0; }

/* Tabular data (https://www.w3.org/TR/html5/tabular-data.html)
   ========================================================================== */
/*
 * Remove border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* transform-style:  (https://www.w3.org/TR/html5/forms.html)
   ========================================================================== */
/**
 * 1. Remove the default styling in all browsers (opinionated).
 * 3. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  background-color: transparent;
  /* 1 */
  border-style: none;
  /* 1 */
  color: inherit;
  /* 1 */
  font-size: 1em;
  /* 1 */
  margin: 0;
  /* 3 */ }

/**
 * Correct the overflow in IE.
 * 1. Correct the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance in Edge, Firefox, and IE.
 * 1. Remove the inheritance in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent the WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Correct the focus styles unset by the previous rule.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the border, margin, and padding in all browsers.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Remove the vertical scrollbar in IE.
 * 2. Change the resize direction on textareas in all browsers (opinionated).
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */ }

/**
 * Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  padding: 0; }

/**
 * Correct the cursor style on increment and decrement buttons in Chrome.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari for OS X.
 */
::-webkit-search-cancel-button,
::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style on placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* WAI-ARIA (https://www.w3.org/TR/html5/dom.html#wai-aria)
   ========================================================================== */
/**
 * Change the cursor on busy elements (opinionated).
 */
[aria-busy="true"] {
  cursor: progress; }

/*
 * Change the cursor on control elements (opinionated).
 */
[aria-controls] {
  cursor: pointer; }

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */
[aria-disabled] {
  cursor: default; }

/* User interaction (https://www.w3.org/TR/html5/editing.html)
   ========================================================================== */
/*
 * Remove the tapping delay on clickable elements (opinionated).
 * 1. Remove the tapping delay in IE 10.
 */
a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation; }

/*
 * Change the display on visually hidden accessible elements (opinionated).
 */
[hidden][aria-hidden="false"] {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute; }

[hidden][aria-hidden="false"]:focus {
  clip: auto; }

h1, h2, h3, h4, h5, h6, p, ul, li, figure, dl, dt, dd {
  padding: 0;
  margin: 0;
  font-weight: normal; }

li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  font-size: 62.5%;
  line-height: 1;
  font-family: ‘Hiragino Kaku Gothic Pro’,‘ヒラギノ角ゴ Pro W3’,‘Meiryo’,‘メイリオ‘,’ＭＳ Ｐゴシック‘,’ＭＳ ゴシック‘,’Osaka’,‘Osaka-等幅‘,sans-serif; }

.wrapper {
  box-sizing: border-box;
  padding: 0 20px;
  max-width: 1620px;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) {
    .wrapper {
      padding: 60px 40px 0; } }

.header {
  padding: 40px 40px 0;
  max-width: 1620px;
  margin: 0 auto;
  text-align: center;
  position: relative; }
  .header .header_logo {
    margin: 0 auto 30px;
    width: 120px;
    height: 93px; }
    .header .header_logo img, .header .header_logo svg {
      width: 120px;
      height: 93px; }
    @media only screen and (min-width: 768px) {
      .header .header_logo {
        margin: 0 auto;
        width: 140px;
        height: 109px; }
        .header .header_logo img, .header .header_logo svg {
          width: 140px;
          height: 109px; } }
  .header .header_logo_link {
    display: block;
    color: #000; }
  .header .header_startText {
    margin-bottom: 30px;
    font-size: 1.2em; }
  .header .header_officialText {
    display: none; }
  @media only screen and (min-width: 768px) {
    .header .header_officialText {
      display: block;
      width: 180px;
      height: 22px;
      position: absolute;
      right: 40px;
      bottom: 20px; }
    .header .header_startText {
      margin-bottom: 0;
      font-size: 1.5em;
      letter-spacing: 0.05em;
      position: absolute;
      left: 40px;
      bottom: 25px; } }
  @media only screen and (min-width: 1024px) {
    .header .header_officialText {
      width: 240px;
      height: 29px; }
    .header .header_startText {
      font-size: 2.0em; } }

@media only screen and (min-width: 768px) {
  .main {
    padding-bottom: 60px; } }

.footer {
  padding: 60px 20px;
  max-width: 1620px;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) {
    .footer {
      padding: 60px 40px; } }
  .footer .footer_copy {
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .footer .footer_copy {
        font-size: 1.3em;
        letter-spacing: 0.1em; } }

.top .shoes {
  margin-bottom: 80px; }
  @media only screen and (min-width: 768px) {
    .top .shoes {
      margin-bottom: 130px; } }
  @media only screen and (min-width: 768px) {
    .top .shoes .shoes_wrap {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between; } }
  .top .shoes .shoes_list {
    width: 100%;
    margin-bottom: 20px; }
    @media only screen and (min-width: 768px) {
      .top .shoes .shoes_list {
        width: 33%;
        margin-right: 0.5%;
        margin-bottom: 0; }
        .top .shoes .shoes_list:nth-child(3) {
          margin-right: 0; } }
  .top .shoes .shoes_link {
    display: block;
    transition: opacity 0.5s linear; }
    .top .shoes .shoes_link:hover {
      opacity: 0.5; }
    .top .shoes .shoes_link figure {
      margin-bottom: 5px; }
      @media only screen and (min-width: 768px) {
        .top .shoes .shoes_link figure {
          margin-bottom: 10px; } }
    .top .shoes .shoes_link img {
      width: 100%; }
  .top .shoes .shoes_name {
    font-size: 1.0em;
    letter-spacing: 0.05em;
    color: #333; }
    @media only screen and (min-width: 768px) {
      .top .shoes .shoes_name {
        font-size: 15px;
        font-weight: bold; } }

.top .schedule .schedule_warp {
  margin-bottom: 55px; }
  @media only screen and (min-width: 768px) {
    .top .schedule .schedule_warp {
      margin-bottom: 180px; } }

.top .schedule .schedule_title {
  font-size: 1.8em;
  margin-bottom: 40px;
  font-weight: bold;
  letter-spacing: 0.05em; }
  @media only screen and (min-width: 768px) {
    .top .schedule .schedule_title {
      font-size: 3em;
      margin-bottom: 70px; } }

.top .schedule .schedule_list {
  font-size: 1.0em;
  padding-bottom: 5px;
  margin-bottom: 32px;
  border-bottom: dashed 1px #000;
  letter-spacing: 0.1em;
  line-height: 1.5; }
  .top .schedule .schedule_list span {
    font-size: 0.8em; }
  @media only screen and (min-width: 768px) {
    .top .schedule .schedule_list {
      border-bottom: dashed 2px #000;
      font-size: 1.5em;
      margin-bottom: 50px; }
      .top .schedule .schedule_list span {
        font-size: 0.6em; } }

.top .attention {
  padding-bottom: 60px; }
  @media only screen and (min-width: 1280px) {
    .top .attention {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      margin-bottom: 60px; } }
  .top .attention .attention_section {
    margin-bottom: 60px; }
    @media only screen and (min-width: 1280px) {
      .top .attention .attention_section {
        width: 49%; } }
  .top .attention .attention_title {
    font-size: 1.2em;
    margin-bottom: 16px; }
    @media only screen and (min-width: 768px) {
      .top .attention .attention_title {
        font-size: 1.8em;
        margin-bottom: 20px; } }
  .top .attention .attention_wrap {
    padding: 25px 0;
    margin-bottom: 10px;
    border-top: solid 7px #000;
    border-bottom: solid 7px #000; }
    @media only screen and (min-width: 1280px) {
      .top .attention .attention_wrap {
        padding: 40px 0;
        margin-bottom: 20px;
        border-top: solid 10px #000;
        border-bottom: solid 10px #000; } }
  .top .attention .attention_list {
    line-height: 2.5em; }
    @media only screen and (min-width: 768px) {
      .top .attention .attention_list {
        font-size: 1.2em;
        line-height: 3.6em; } }
  .top .attention .attention_notice {
    text-align: right; }
    @media only screen and (min-width: 768px) {
      .top .attention .attention_notice {
        font-size: 1.2em; } }

.top .apply .apply_btn {
  display: block;
  text-align: center;
  line-height: 35px;
  background: #000;
  color: #fff;
  font-size: 1.5em;
  line-height: 3.0em; }
  .top .apply .apply_btn.disabled {
    background: #b3b3b3; }
    .top .apply .apply_btn.disabled:hover {
      opacity: 1; }
  @media only screen and (min-width: 768px) {
    .top .apply .apply_btn {
      font-size: 1.5em;
      font-weight: bold;
      line-height: 3.0em;
      transition: opacity 0.5s linear; }
      .top .apply .apply_btn:hover {
        opacity: 0.5; } }

.info {
  padding-top: 50px; }
  .info a {
    color: #000;
    transition: all 0.5s linear; }
    .info a:hover {
      color: #b3b3b3; }
  .info .info_title {
    margin-bottom: 30px;
    font-size: 1.8em;
    font-weight: bold;
    letter-spacing: 0.05em; }
    @media only screen and (min-width: 768px) {
      .info .info_title {
        font-size: 3em;
        line-height: 3.5em; } }
  .info .info_caption {
    margin-bottom: 70px;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    line-height: 2.5em;
    text-align: justify;
    font-weight: bold; }
    @media only screen and (min-width: 768px) {
      .info .info_caption {
        font-size: 2em; } }
  .info .info_head {
    margin-bottom: 30px;
    font-size: 1.6em;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.8em; }
    @media only screen and (min-width: 768px) {
      .info .info_head {
        font-size: 3em;
        line-height: 3.5em; } }
  .info .info_detail {
    margin-bottom: 70px;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    line-height: 2.5em;
    text-align: justify;
    font-weight: bold; }
    @media only screen and (min-width: 768px) {
      .info .info_detail {
        font-size: 2em; } }

.form .header_emesg {
  font-size: 1.4em;
  line-height: 1.6em;
  color: #ff0103; }

.form dl.cf {
  display: block; }

.form dt.title {
  display: block;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.6em;
  margin-top: 50px;
  margin-bottom: 10px; }
  @media only screen and (min-width: 768px) {
    .form dt.title {
      font-size: 1.4em; } }
  .form dt.title .need {
    font-size: 12px;
    margin-right: 10px;
    padding: 0 0.3em;
    display: inline-block;
    background: #ff0103;
    color: #fff; }
  .form dt.title .input_attention {
    font-size: 12px;
    line-height: 2; }

.form dd.data {
  display: block; }
  .form dd.data input[type=text] {
    width: 100%;
    padding: 0 0.5em;
    font-size: 1.4em;
    line-height: 3.0em;
    border-bottom: solid 1px #a5a5a5;
    color: #000;
    outline: 0;
    border-radius: 0; }
  .form dd.data select {
    width: 100%;
    height: 40px;
    border-radius: 0;
    padding: 0 0.5em;
    font-size: 1.4em;
    line-height: 3.0em;
    border-bottom: solid 1px #a5a5a5;
    color: #000;
    outline: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  .form dd.data .mail_confirmText {
    margin-top: 18px;
    display: block;
    font-size: 1.3em;
    line-height: 2.0em; }
  .form dd.data .msg {
    display: inline-block;
    margin-top: 8px;
    line-height: 2.0em;
    font-size: 1.4em;
    color: #ff0103; }

.form dd.multi2 .radio li {
  display: inline-block;
  margin-right: 50px;
  font-size: 1.4em;
  line-height: 3.0em;
  color: #000; }

.form dd.multi2 .radio input[type=radio] {
  margin-right: 8px;
  outline: 0; }

.form dd.time ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .form dd.time ul li {
    width: 32%;
    border-bottom: solid 1px #a5a5a5; }
  .form dd.time ul input[type=text] {
    display: inline-block;
    width: 80%;
    border-bottom: none; }

.form dd.time .date-text {
  width: 20%;
  display: inline-block;
  text-align: center;
  font-size: 1.4em; }
  @media only screen and (min-width: 768px) {
    .form dd.time .date-text {
      font-size: 1.6em; } }

.form dd.zipcode ul li {
  display: inline-block;
  width: 40%; }
  .form dd.zipcode ul li:first-child input[type=text] {
    display: inline-block;
    width: 80%; }
  .form dd.zipcode ul li:first-child .code-bar {
    font-size: 1.6em;
    display: inline-block;
    text-align: center;
    width: 20%; }
  @media only screen and (min-width: 768px) {
    .form dd.zipcode ul li {
      width: 30%; } }

.form .agreement {
  margin-top: 150px;
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  letter-spacing: 0.05em;
  font-weight: bold; }
  @media only screen and (min-width: 768px) {
    .form .agreement {
      font-size: 1.4em; } }
  .form .agreement input[type=checkbox] {
    margin-right: 10px; }
  .form .agreement a {
    color: #000;
    text-decoration: underline; }
    .form .agreement a:hover {
      text-decoration: none; }
  .form .agreement label {
    display: inline-block;
    margin-top: 15px; }

.form .submit {
  margin-top: 150px;
  width: 100%;
  display: block;
  background: #000;
  color: #fff;
  border-radius: 0;
  font-size: 1.6em;
  line-height: 3.0em;
  font-weight: bold;
  transition: opacity 0.5s linear; }
  .form .submit:disabled {
    background: #ccc; }
    .form .submit:disabled:hover {
      opacity: 1; }
  .form .submit:hover {
    opacity: 0.5;
    cursor: pointer; }

.form.confirm .confirm_headTextArea {
  padding: 40px 0; }

.form.confirm .confirm_headText {
  font-size: 1.4em;
  line-height: 1.6em;
  margin-bottom: 30px; }

@media only screen and (min-width: 768px) {
  .form.confirm .confirm_headTextArea {
    padding: 100px 0 120px; }
  .form.confirm .confirm_headText {
    font-size: 1.4em; } }

.form.confirm dd.data {
  font-size: 1.4em;
  line-height: 1.6em;
  padding: 14px 0;
  border-bottom: solid 1px #000; }

.form.confirm .confirm_btnArea {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .form.confirm .confirm_btnArea .submit {
    width: 49%; }
    @media only screen and (min-width: 768px) {
      .form.confirm .confirm_btnArea .submit {
        width: 49.5%; } }

.form.complete .complete_thanxArea {
  padding: 40px 0; }

.form.complete .complete_thanxMessage {
  font-size: 1.2em;
  line-height: 1.6em;
  margin-bottom: 30px; }

@media only screen and (min-width: 768px) {
  .form.complete .complete_thanxArea {
    padding: 100px 0 120px; }
  .form.complete .complete_thanxMessage {
    font-size: 1.4em; } }
