@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ―
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

html {
    font:62.5% 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','Meiryo','メイリオ','ＭＳ Ｐゴシック','ＭＳ ゴシック','Osaka','Osaka-等幅',sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}
/* CSS Document */
.contents__detail {
    width: 100%;
    margin: 50px auto;
}

.detail__item-wrap {
    padding: 0 20px;
    margin: 0 auto 78px;
}
@media only screen and (min-width: 768px) {
    .detail__item-wrap {
        padding: 0 40px;
    }
}

.detail__item-fig-large {
    vertical-align: top;
    display: none;
    float: left;
    width: 55%;
    margin-right: 3%;
    position: relative;
    letter-spacing: -.40em;
}

.detail__item-fig-large p {
    letter-spacing: normal;
    display: inline-block;
    width: 100%;
    margin-left: 1%;
    margin-bottom: 2%;
}

.detail__item-fig-large p:first-child {
    margin-left: 0;
}

.detail__item-fig-large p img {
    width: 100%;
}

.detail__item-fig-large .ml0 {
    margin-left: 0;
}

.detail__item-fig-large .detail__item-fig-dummy {
    position: relative;
}

.detail__item-fig-large .detail__item-fig-dummy img {
    width: 100%;
}

.detail__item-fig-small {
    vertical-align: top;
    float: left;
    width: 49.8%;
    margin-right: 3%;
    position: relative;
    letter-spacing: -.40em;
    display: block;
}

.detail__item-fig-small p {
    position: absolute;
    top: 0px;
    left: 0px;
    float: none;
    width: 100%;
    visibility: hidden;
    margin-bottom: 2%;
    margin-left: 0% !important;
}

.detail__item-fig-small p:first-child {
    visibility: visible;
}

.detail__item-fig-small p img {
    width: 100%;
}

.detail__item-fig-small .dummy {
    position: relative;
    visibility: hidden;
    display: block;
}

.detail__item_thumbnails {
    display: block;
}

.detail__item_thumbnails li {
    float: left;
    width: 19%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.detail__item_thumbnails li img {
    width: 100%;
}

.detail__item-info {
    padding-top: 1px;
    vertical-align: top;
    float: right;
    width: 46%;
}

.detail__item-thumbnail ul li {
    margin-left: 15px;
    float: left;
}

.detail__item-thumbnail ul li:first-child {
    margin-left: 0px;
}

.detail__item-headline {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: bold;
}

.detail__item-price {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 1.8em;
}

.detail__item-desc {
    font-size: 1.1rem;
    margin-bottom: 40px;
    line-height: 2.5em;
    letter-spacing: 0.09em;
    text-align: justify;
    width: 100%;
    font-family: 'Yu Gothic', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'Meiryo', 'メイリオ', 'ＭＳ Ｐゴシック', 'ＭＳ ゴシック', 'Osaka', 'Osaka-等幅', sans-serif;
}




@media screen and (max-width: 1024px) {

    .detail__item-fig-large {
        display: none;
        width: 100%;
        float: none;
    }

    .detail__item-fig-small {
        display: block;
        float: none;
        width: 100%;
    }

    .detail__item_thumbnails {
        display: block;
    }

    .detail__item-info {
        width: 100%;
        float: none;
        text-align: justify;
    }

    .detail__item-headline {
        margin-top: 30px !important;
        font-size: 12px !important;
    }

    .detail__item-desc {
        font-size: 11px !important;
    }
}
