@charset "utf-8";
@import "mixin";

// myReset
h1, h2, h3, h4, h5, h6, p, ul, li, figure, dl, dt, dd {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  font-size: 62.5%;
  line-height: 1;
  font-family: ‘Hiragino Kaku Gothic Pro’,‘ヒラギノ角ゴ Pro W3’,‘Meiryo’,‘メイリオ‘,’ＭＳ Ｐゴシック‘,’ＭＳ ゴシック‘,’Osaka’,‘Osaka-等幅‘,sans-serif;
}

.wrapper {
  box-sizing: border-box;
  padding: 0 20px;
  max-width: 1620px;
  margin: 0 auto;
  @include pc {
    padding: 60px 40px 0;
  }
}

.header {
  padding: 40px 40px 0;
  max-width: 1620px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  .header_logo {
    margin: 0 auto 30px;
    width: 120px;
    height: 93px;
    img, svg {
      width: 120px;
      height: 93px;
    }
    @include pc {
      margin: 0 auto;
      width: 140px;
      height: 109px;
      img, svg {
        width: 140px;
        height: 109px;
      }
    }
  }
  .header_logo_link {
    display: block;
    color: #000;
  }
  .header_startText {
    margin-bottom: 30px;
    font-size: 1.2em;
  }
  .header_officialText {
    display: none;
  }
  @include pc {
    .header_officialText {
      display: block;
      // width: 240px;
      // height: 29px;
      width: 180px;
      height: 22px;
      position: absolute;
      right: 40px;
      bottom: 20px;
      img {
        // width: 240px;
        // height: 29px;
      }
    }
    .header_startText {
      margin-bottom: 0;
      font-size: 1.5em;
      letter-spacing: 0.05em;
      position: absolute;
      left: 40px;
      bottom: 25px;
    }
  }
  @include bp-min(1024) {
    .header_officialText {
      width: 240px;
      height: 29px;
    }
    .header_startText {
      font-size: 2.0em;
    }
  }
}

.main {
  // @include fontsize(10);
  @include pc {
    padding-bottom: 60px;
  }
}

.footer {
  padding: 60px 20px;
  max-width: 1620px;
  margin: 0 auto;
  @include pc {
    padding: 60px 40px;
  }
  .footer_copy {
    text-align: center;
    @include pc {
      font-size: 1.3em;
      letter-spacing: 0.1em;
    }
  }
}
