@charset "utf-8";
@import "mixin";

$attentionColor: #ff0103;

.form {
  .header_emesg {
    font-size: 1.4em;
    line-height: 1.6em;
    color: $attentionColor;
  }
  dl.cf {
    display: block;
  }
  dt.title {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.6em;
    margin-top: 50px;
    margin-bottom: 10px;
    @include pc {
      font-size: 1.4em;
    }
    .need {
      font-size: 12px;
      margin-right: 10px;
      padding: 0 0.3em;
      display: inline-block;
      background: $attentionColor;
      color: #fff;
    }
    .input_attention {
      font-size: 12px;
      line-height: 2;
    }
  }
  dd.data {
    display: block;
    input[type=text] {
      width: 100%;
      padding: 0 0.5em;
      font-size: 1.4em;
      line-height: 3.0em;
      border-bottom: solid 1px #a5a5a5;
      color: #000;
      outline: 0;
      border-radius: 0;
      // background: #000;
    }
    select {
      width: 100%;
      height: 40px;
      border-radius: 0;
      padding: 0 0.5em;
      font-size: 1.4em;
      line-height: 3.0em;
      border-bottom: solid 1px #a5a5a5;
      color: #000;
      outline: 0;
      appearance: none;
    }
    .mail_confirmText {
      margin-top: 18px;
      display: block;
      font-size: 1.3em;
      line-height: 2.0em;
    }
    .msg {
      display: inline-block;
      margin-top: 8px;
      line-height: 2.0em;
      font-size: 1.4em;
      color: $attentionColor
    }
  }
  dd.multi2 {
    .radio {
      li {
        display: inline-block;
        margin-right: 50px;
        font-size: 1.4em;
        line-height: 3.0em;
        color: #000;
      }
      input[type=radio] {
        margin-right: 8px;
        outline: 0;
      }
    }
  }
  dd.time {
    ul {
      display: flex;
      justify-content: space-between;
      li {
        width: 32%;
        border-bottom: solid 1px #a5a5a5;
      }
      input[type=text] {
        display: inline-block;
        width: 80%;
        border-bottom: none;
      }
    }
    .date-text {
      width: 20%;
      display: inline-block;
      text-align: center;
      font-size: 1.4em;
      @include pc {
        font-size: 1.6em;
      }
    }
  }
  dd.zipcode {
    ul {
      // display: flex;
      // justify-content: space-between;
      li {
        display: inline-block;
        width: 40%;
        &:first-child {
          input[type=text] {
            display: inline-block;
            width: 80%;
          }
          .code-bar {
            font-size: 1.6em;
            display: inline-block;
            text-align: center;
            width: 20%
          }
        }
        @include pc {
          width: 30%;
        }
      }
    }
  }
  .agreement {
    margin-top: 150px;
    text-align: center;
    font-size: 1.2em;
    line-height: 2em;
    letter-spacing: 0.05em;
    font-weight: bold;
    @include pc {
      font-size: 1.4em;
    }
    input[type=checkbox] {
      margin-right: 10px;
    }
    a {
      color: #000;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    label {
      display: inline-block;
      margin-top: 15px;
    }
  }
  .submit {
    margin-top: 150px;
    width: 100%;
    display: block;
    background: #000;
    color: #fff;
    border-radius: 0;
    font-size: 1.6em;
    line-height: 3.0em;
    font-weight: bold;
    transition: opacity 0.5s linear;
    &:disabled {
      background: #ccc;
      &:hover {
        opacity: 1;
      }
    }
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }

  &.confirm {
    .confirm_headTextArea {
      padding: 40px 0;
    }
    .confirm_headText {
      font-size: 1.4em;
      line-height: 1.6em;
      margin-bottom: 30px;
    }
    @include pc {
      .confirm_headTextArea {
        padding: 100px 0 120px;
      }
      .confirm_headText {
        font-size: 1.4em;
      }
    }
    dd.data {
      font-size: 1.4em;
      line-height: 1.6em;
      padding: 14px 0;
      border-bottom: solid 1px #000;
    }
    .confirm_btnArea {
      display: flex;
      justify-content: space-between;
      .submit {
        width: 49%;
        @include pc {
          width: 49.5%;
        }
      }
    }
  }

  &.complete {
    .complete_thanxArea {
      padding: 40px 0;
    }
    .complete_thanxMessage {
      font-size: 1.2em;
      line-height: 1.6em;
      margin-bottom: 30px;
    }
    @include pc {
      .complete_thanxArea {
        padding: 100px 0 120px;
      }
      .complete_thanxMessage {
        font-size: 1.4em;
      }
    }
  }

}