@charset "utf-8";
@import "mixin";

.info {
  padding-top: 50px;
  a {
    color: #000;
    transition: all 0.5s linear;
    &:hover {
      color: #b3b3b3;
    }
  }
  .info_title {
    margin-bottom: 30px;
    font-size: 1.8em;
    font-weight: bold;
    letter-spacing: 0.05em;
    @include pc {
      font-size: 3em;
      line-height: 3.5em;
    }
  }
  .info_caption {
    margin-bottom: 70px;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    line-height: 2.5em;
    text-align: justify;
    font-weight: bold;
    @include pc {
      font-size: 2em;
    }
  }
  .info_head {
    margin-bottom: 30px;
    font-size: 1.6em;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.8em;
    @include pc {
      font-size: 3em;
      line-height: 3.5em;
    }
  }
  .info_detail {
    margin-bottom: 70px;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    line-height: 2.5em;
    text-align: justify;
    font-weight: bold;
    @include pc {
      font-size: 2em;
    }
  }
}