@charset "utf-8";

@mixin fontsize($size: 10, $base: 10) {
	font-size: $size + px;
	font-size: ($size / $base) * 1rem;
}
@mixin sp {
	@media only screen and (max-width: 767px) {
		@content;
	}
}
@mixin pc {
	@media only screen and (min-width: 768px) {
		@content;
	}
}
@mixin bp-min ($min) {
  @media only screen and (min-width: $min + px) {
    @content;
  }
}

@mixin transition ($duration, $easing) {
	-webkit-transition: $duration $easing;
	-moz-transition: $duration $easing;
	-ms-transition: $duration $easing;
	-o-transition: $duration $easing;
	transition: $duration $easing;
}

@mixin wpTextStyle {
  h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  h4 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  h5 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  h6 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  p {
    margin-bottom: 25px;
  }
  ul {
    padding-left: 1em;
    margin-bottom: 16px;
    li {
      list-style: disc;
      margin-bottom: 4px;
    }
  }
  ol {
    padding-left: 1em;
    margin-bottom: 16px;
    li {
      list-style: decimal;
      margin-bottom: 4px;
    }
  }
  blockquote {
    border-left: solid 4px #ccc;
    padding: 0.5em 0 0.5em 1em;
    margin-bottom: 16px;
    p {
      font-style: italic;
    }
  }
  iframe {
    width: 100%;
  }
  a {
    text-decoration: underline;
    // color: #51ab11;
    &:hover {
      text-decoration: none;
    }
  }
  img {
  	&.size-full,
    &.size-large {
		  width: 100%;
      height: auto;
  	}
  }
  /**** wp article ****/
}