@charset "utf-8";
@import "mixin";

.top {
  .shoes {
    margin-bottom: 80px;
    @include pc {
      margin-bottom: 130px;
    }
    .shoes_wrap {
      @include pc {
        display: flex;
        justify-content: space-between;
      }
    }
    .shoes_list {
      width: 100%;
      margin-bottom: 20px;
      @include pc {
        width: 33%;
        margin-right: 0.5%;
        margin-bottom: 0;
        &:nth-child(3) {
          margin-right: 0;
        }
      }
    }
    .shoes_link {
      display: block;
      transition: opacity 0.5s linear;
      &:hover {
        opacity: 0.5;
      }

      figure {
        margin-bottom: 5px;
        @include pc {
          margin-bottom: 10px;
        }
      }
      img {
        width: 100%;
      }
    }
    .shoes_name {
      font-size: 1.0em;
      letter-spacing: 0.05em;
      color: #333;
      @include pc {
        font-size: 15px;
        font-weight: bold;

      }
    }
  }

  .schedule {
    .schedule_warp {
      margin-bottom: 55px;
      @include pc {
        margin-bottom: 180px;
      }
    }
    .schedule_title {
      font-size: 1.8em;
      margin-bottom: 40px;
      font-weight: bold;
      letter-spacing: 0.05em;
      @include pc {
        font-size: 3em;
        margin-bottom: 70px;
      }
    }
    .schedule_list {
      font-size: 1.0em;
      padding-bottom: 5px;
      margin-bottom: 32px;
      border-bottom: dashed 1px #000;
      letter-spacing: 0.1em;
      line-height: 1.5;
      span {
        font-size: 0.8em;
        // line-height: 1.5;
      }
      @include pc {
        border-bottom: dashed 2px #000;
        font-size: 1.5em;
        margin-bottom: 50px;
        span {
          font-size: 0.6em;
          // line-height: 1.5;
        }
      }
    }
  }

  .attention {
    padding-bottom: 60px;
    @include bp-min(1280) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
    }
    .attention_section {
      margin-bottom: 60px;
      @include bp-min(1280) {
        width: 49%;
      }
    }
    .attention_title {
      font-size: 1.2em;
      margin-bottom: 16px;
      @include pc {
        font-size: 1.8em;
        margin-bottom: 20px;
      }
    }
    .attention_wrap {
      padding: 25px 0;
      margin-bottom: 10px;
      border-top: solid 7px #000;
      border-bottom: solid 7px #000;
      @include bp-min(1280) {
        padding: 40px 0;
        margin-bottom: 20px;
        border-top: solid 10px #000;
        border-bottom: solid 10px #000;
      }
    }
    .attention_list {
      line-height: 2.5em;
      @include pc {
        font-size: 1.2em;
        line-height: 3.6em;
      }
    }
    .attention_notice {
      text-align: right;
      @include pc {
        font-size: 1.2em;
      }
    }
  }

  .apply {
    .apply_btn {
      display: block;
      text-align: center;
      line-height: 35px;
      background: #000;
      color: #fff;
      font-size: 1.5em;
      line-height: 3.0em;
      &.disabled {
        background: #b3b3b3;
        &:hover {
          opacity: 1;
        }
      }
      @include pc {
        font-size: 1.5em;
        font-weight: bold;
        line-height: 3.0em;
        transition: opacity 0.5s linear;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}